.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.demo {
  transition: all 1s;
  width: 75%;
  border-radius: var(--ifm-card-border-radius);
  overflow: hidden;
}

.demo:hover {
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
